<footer class="bg-brand-red h3 tc  w-100">
    <a id="footer-link" href="#hero"><img class="" src="uploads/icon.png" alt=""></a>
    <!-- <img src="/uploads/logo-large.png" alt="" class="h-100 fl ml4 logo">
    <ul class="fr ma0 social">
      <li class="dib h-100"><a class="dib" target="_blank" href="{{ site.data.contact.facebook }}"><i class="brand-cream f3 fa fa-facebook mh3" aria-hidden="true"></i></a></li>
      <li class="dib h-100"><a class="dib" target="_blank" href="{{ site.data.contact.twitter }}"><i class="brand-cream f3 fa fa-twitter mh3" aria-hidden="true"></i></a></li>
      <li class="dib h-100"><a class="dib" target="_blank" href="{{ site.data.contact.instagram }}"><i class="brand-cream f3 fa fa-instagram mh3" aria-hidden="true"></i></a></li>
    </ul> -->
</footer>