<div id="header" class="bg-brand-red w-100">
  <img src="/uploads/logo-large.png" alt="" class="h-100 fl ml4 logo">
  <a id="header__book" class="agendamedium bg-brand-brown br2 dib f6 fr grow mb0 mr4 no-underline ph3 pv3 tracked ttu white" href="#0">Book Now</a>
</div>
<div class="bg-brand-brown nav-wrapper w-100">
  <div id="nav" class="auto bg-brand-brown center flex flex-row items-center justify-around mw9">
    <div class="agendamedium navitem ttu">reservations</div>
    <div class="agendamedium navitem ttu">private events</div>
    <div class="agendamedium navitem ttu">weddings</div>
    <div class="agendamedium navitem ttu">gift cards</div>
    <div class="agendamedium navitem ttu">about</div>
    <div class="agendamedium navitem ttu">contact</div>
    <div class="agendamedium navitem ttu">menus</div>
  </div>
</div>
