<div id="header" class="z-3">
  <div class="bg-brand-red relative w-100 | header-main">
    <a href="#main-carousel">
      <!-- <img src="/uploads/logo-icon.png" alt="" id="icon" class="absolute | icon"> -->
      <img src="/uploads/logo-simple.png" alt="" id="logo" class="absolute | logo"></a>
    <a id="header__book" class="agendamedium bg-brand-brown brand-cream br2 dib f6 fr grow mb0 ml4 mr4 no-underline ph4 pv3 tracked ttu" href="#book">Book Now</a>
    <ul class="fr ma0 social">
      <li class="dib h-100"><a class="dib" target="_blank" href="{{ site.data.contact.facebook }}"><i class="brand-cream f3 fa fa-facebook mh3" aria-hidden="true"></i></a></li>
      <li class="dib h-100"><a class="dib" target="_blank" href="{{ site.data.contact.twitter }}"><i class="brand-cream f3 fa fa-twitter mh3" aria-hidden="true"></i></a></li>
      <li class="dib h-100"><a class="dib" target="_blank" href="{{ site.data.contact.instagram }}"><i class="brand-cream f3 fa fa-instagram mh3" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="relative | nav-outer-wrapper">
    <div id="nav-wrapper" class="bg-brand-brown w-100 | header-nav">
      <div id="nav" class="">
        <a class="agendamedium link navitem ttu" href="#book">reservations</a>
        <a class="agendamedium link navitem ttu" href="#events">private events</a>
        <a class="agendamedium link navitem ttu" href="#events">weddings</a>
        <a class="agendamedium link navitem ttu" href="https://gifts.opentable.com/Aretskys-Patroon" target="_blank">gift cards</a>
        <a class="agendamedium link navitem ttu" href="#about">about</a>
        <a class="agendamedium link navitem ttu" href="#contact">contact</a>
        <a class="agendamedium link navitem ttu" href="#menus">menus</a>
      </div>
    </div>
    <button id="advancer-left" class="advancer advancer-left" type="button">
      <svg class="advancer-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M445.44 38.183L-2.53 512l447.97 473.817 85.857-81.173-409.6-433.23v81.172l409.6-433.23L445.44 38.18z"/></svg>
     </button>
     <button id="advancer-right" class="advancer advancer-right" type="button">
      <svg class="advancer-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M105.56 985.817L553.53 512 105.56 38.183l-85.857 81.173 409.6 433.23v-81.172l-409.6 433.23 85.856 81.174z"/></svg>
     </button>
  </div>
</div>


