<div id="header" class="z-1">
  <div class="bg-brand-red w-100 | header-main">
    <a href="#main-carousel"><img src="/uploads/logo-simple.png" alt="" class="h-100 fl ml4 logo"></a>
    <a id="header__book" class="agendamedium bg-brand-brown brand-cream br2 dib f6 fr grow mb0 ml4 mr4 no-underline ph4 pv3 tracked ttu" href="#book">Book Now</a>
    <ul class="fr ma0 social">
      <li class="dib h-100"><a class="dib" target="_blank" href="{{ site.data.contact.facebook }}"><i class="brand-cream f3 fa fa-facebook mh3" aria-hidden="true"></i></a></li>
      <li class="dib h-100"><a class="dib" target="_blank" href="{{ site.data.contact.twitter }}"><i class="brand-cream f3 fa fa-twitter mh3" aria-hidden="true"></i></a></li>
      <li class="dib h-100"><a class="dib" target="_blank" href="{{ site.data.contact.instagram }}"><i class="brand-cream f3 fa fa-instagram mh3" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="bg-brand-brown nav-wrapper w-100 | header-nav">
    <div id="nav" class="auto center flex flex-row items-center justify-around mw9">
      <a class="agendamedium db link navitem ttu" href="#book">reservations</a>
      <a class="agendamedium db link navitem ttu" href="#events">private events</a>
      <a class="agendamedium db link navitem ttu" href="#events">weddings</a>
      <a class="agendamedium db link navitem ttu" href="https://gifts.opentable.com/Aretskys-Patroon" target="_blank">gift cards</a>
      <a class="agendamedium db link navitem ttu" href="#about">about</a>
      <a class="agendamedium db link navitem ttu" href="#contact">contact</a>
      <a class="agendamedium db link navitem ttu" href="#menus">menus</a>
    </div>
  </div>
</div>

