<script>

  // window.onscroll = function changeClass(){
  //   var scrollPosY = window.pageYOffset | document.body.scrollTop;
  //   var icon = document.getElementById('icon'),
  //       logo = document.getElementById('logo');

  //   if(scrollPosY > 300) {
  //       logo.className = ('absolute | logo');
  //       icon.className = ('absolute | hide icon');
  //     } else if(scrollPosY <= 300) {
  //       logo.className = ('absolute | hide logo');
  //       icon.className = ('absolute | icon');
  //     }
  // }

  var tabs = tabbis.init();

  var setScrollOffset = function() {
    // smoothscroll
    var headerHeight = $('#header').height();
    // var topPadding = $('#about').css('padding-top');
    // var topPaddingNum = parseInt(topPadding);
    // console.log('topPadding:' + topPadding + ', headerHeight:' + headerHeight);
    $('#header a').smoothScroll({offset: -headerHeight});
    // $('header a.video').smoothScroll({offset: -headerHeight});
    // $('a.arrow').smoothScroll({offset: 0});
    // $('a.awards').smoothScroll({offset: 0});
    $('#footer-link').smoothScroll({offset: -headerHeight});
  }

  $(document).ready(function() {
    var windowWidth = $(window).width();
    setScrollOffset();
    // media query(s)
    enquire.register("screen and (min-width: 480px)", {
      match : function() {

      }
    }).register("screen and (min-width: 960px)", {
      match : function() {
        var headHeight = $('#header').outerHeight();
        // var navHeight = $('#nav').outerHeight();
        var winHeight = window.innerHeight;
        var maxHeight = winHeight - headHeight;
        // $('#main-carousel').height(maxHeight);
        $('.main-carousel .item').each(function(){
          $(this).height(maxHeight);
        })
        $('.main-carousel').flickity({
          // options
          cellAlign: 'left',
          contain: true,
          wrapAround: true,
          draggable: false,
          // setGallerySize: true,
        });
      },
      unmatch : function() {
      }
    });

    var setActiveMenu = function(){
      $('.menu-name').removeClass('active');
      $('.single-menu').removeClass('active');
      $('.menu-name').first().addClass('active');
      $('.single-menu').first().addClass('active');
    }
    setActiveMenu();

  });

</script>

