<script>

  var tabs = tabbis.init();

  $(document).ready(function() {
    var windowWidth = $(window).width();
    // media query(s)
    enquire.register("screen and (min-width: 480px)", {
      match : function() {

      }
    }).register("screen and (min-width: 960px)", {
      match : function() {
        var headHeight = $('#header').outerHeight();
        var navHeight = $('#nav').outerHeight();
        var winHeight = window.innerHeight;
        var maxHeight = winHeight - headHeight - navHeight;
        // $('#main-carousel').height(maxHeight);
        $('.main-carousel .item').each(function(){
          $(this).height(maxHeight);
        })
        $('.main-carousel').flickity({
          // options
          cellAlign: 'left',
          contain: true,
          wrapAround: true,
          // setGallerySize: true,
        });
      },
      unmatch : function() {
      }
    });
  });

</script>

