<script>

  // menu tabs
  var tabs = tabbis.init();

  // smooth scroll
  var setScrollOffset = function() {
    // smoothscroll
    var headerHeight = $('#header').height();
    // var topPadding = $('#about').css('padding-top');
    // var topPaddingNum = parseInt(topPadding);
    // console.log('topPadding:' + topPadding + ', headerHeight:' + headerHeight);
    $('#header a').smoothScroll({
      offset: -headerHeight,
      easing: 'swing',
    });
    // $('header a.video').smoothScroll({offset: -headerHeight});
    // $('a.arrow').smoothScroll({offset: 0});
    // $('a.awards').smoothScroll({offset: 0});
    $('#footer-link').smoothScroll({
      offset: -headerHeight,
      easing: 'swing',
    });
  }

  $(document).ready(function() {
    var windowWidth = $(window).width();
    setScrollOffset();
    // media query(s)
    enquire.register("screen and (min-width: 480px)", {
      match : function() {

      }
    }).register("screen and (max-width: 768px)", {
      match: function() {
        // mobile nav horizontal scroll
        function determineOverflow(content, container) {
            var containerMetrics = container.getBoundingClientRect();
            var containerMetricsRight = Math.floor(containerMetrics.right);
            var containerMetricsLeft = Math.floor(containerMetrics.left);
            var contentMetrics = content.getBoundingClientRect();
            var contentMetricsRight = Math.floor(contentMetrics.right);
            var contentMetricsLeft = Math.floor(contentMetrics.left);
            if (containerMetricsLeft > contentMetricsLeft && containerMetricsRight < contentMetricsRight) {
                return "both";
            } else if (contentMetricsLeft < containerMetricsLeft) {
                return "left";
            } else if (contentMetricsRight > containerMetricsRight) {
                return "right";
            } else {
                return "none";
            }
        }

        var navwrapper = document.getElementById("nav-wrapper");
        var nav = document.getElementById("nav");
        navwrapper.setAttribute("data-overflowing", determineOverflow(nav, navwrapper));
      }
    }).register("screen and (min-width: 960px)", {
      match : function() {
        var headHeight = $('#header').outerHeight();
        // var navHeight = $('#nav').outerHeight();
        var winHeight = window.innerHeight;
        var maxHeight = winHeight - headHeight;
        // $('#main-carousel').height(maxHeight);
        $('.main-carousel .item').each(function(){
          $(this).height(maxHeight);
        })
        $('.main-carousel').flickity({
          // options
          cellAlign: 'left',
          contain: true,
          wrapAround: true,
          draggable: false,
          autoPlay: 4000,
          arrowShape: {
            x0: 15,
            x1: 65, y1: 45,
            x2: 70, y2: 40,
            x3: 25
          }
          // setGallerySize: true,
        });
      },
      unmatch : function() {
      }
    });

    var setActiveMenu = function(){
      $('.menu-name').removeClass('active');
      $('.single-menu').removeClass('active');
      $('.menu-name').first().addClass('active');
      $('.single-menu').first().addClass('active');
    }
    setActiveMenu();

  });

</script>

