#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .header-main {
    height: 80px;
    z-index: 9;
    // img.logo {
    //   height: 40%;
    //   @include vertical-align();
    //   margin-left: 4rem;
    // }
    #header__book {
      margin-top: 1rem;
      // @include vertical-align();
    }
    .social {
      height: 80px;
      a {
        @include vertical-align();
        // height: 30px;
        img {
          height: 100%;
        }
      }
    }
  }
  .header-nav {
    height: 3.5rem;
    .navitem {
      color: $text-light;
      font-size: 15px;
      letter-spacing: 1px;
      padding: 1.4em 0;
      transition: color 0.1s;
      outline: 0;
      &:hover {
        color: $brand-red;
      }
    }
  }
}
