#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .header-main {
    height: 80px;
    z-index: 9;
    img.hide {
      transition: opacity 0.25s;
      opacity: 0 !important;
    }
    img.icon {
      transition: opacity 0.25s;
      height: 40%;
      padding-top: 1.5rem;
      // @include vertical-align(absolute);
      margin-left: 3rem;
      opacity: 1;
      // animation-duration: 0.7s !important;
    }
    img.logo {
      transition: opacity 0.25s;
      height: 60%;
      @include vertical-align(absolute);
      margin-left: 3rem;
      opacity: 1;
    }
    #header__book {
      margin-top: 1rem;
      // @include vertical-align();
    }
    .social {
      height: 80px;
      a {
        @include vertical-align();
        // height: 30px;
        img {
          height: 100%;
        }
      }
    }
  }
  .header-nav {
    height: 3.5rem;
    .navitem {
      color: $text-light;
      font-size: 15px;
      letter-spacing: 1px;
      padding: 1.4em 0;
      transition: color 0.1s;
      outline: 0;
      &:hover {
        color: $brand-red;
      }
    }
  }
  // a i {
  //   transition: visibility 0s;
  //   margin-left: .5rem;
  //   visibility: hidden;
  //   color: $brand-cream;
  // }
  // a:hover i {
  //   transition: visibility 0.2s;
  //   visibility: visible;
  //   color: $brand-cream;
  // }
}
