.home {
  section#main-carousel {
    .main-carousel {
      .item {
        width: 100%;
        .headline {
          position: relative;
          top: 40%;
          transform: translateY(-40%);
        }
      }
    }
  }

  section#menus {
    .single-menu {
      border: 4px solid red;
      columns: 300px 2;
    }
    .menu-section {
      break-inside: avoid;
    }
  }

  .ot-powered-by {
    display: none;
  }

  .ot-dtp-picker.wide {
    width: 52em;
    margin-right: auto;
    margin-left: auto;
  }

  .ot-title {
    display: none;
  }

  .ot-dtp-picker .ot-dtp-picker-button {
    height: 100% !important;
  }

  .ot-time-picker > select {
    left: 0;
  }

  [data-tabs] {
    // display: flex;
    // background: #eee;
    // padding: 10px;
    // border: 2px solid #ccc;
  }
  [data-tabs] >* {
    // padding: 5px 20px;
    // cursor: pointer;
  }
  // [data-tabs] .active {
  //   background: #31a3e8;
  //   color: #fff;
  //   border-radius: 5px;
  // }
  [data-panes] > * {
    display: none;
    // border: 2px solid #ccc;
    // border-top: none;
    // padding: 20px;
  }
  [data-panes] > .active {
    display: block;
  }

}