.home {
  section#main-carousel {
    .main-carousel {
      .item {
        width: 100%;
        .headline {
          position: relative;
          top: 40%;
          transform: translateY(-40%);
        }
      }
    }


  }

  .ot-powered-by {
    display: none;
  }

  .ot-dtp-picker.wide {
    width: 52em;
    margin-right: auto;
    margin-left: auto;
  }

  .ot-title {
    display: none;
  }

}