$brand-brown: #3C0D05;
$brand-red: #D63236;
$brand-cream: #fefdf5;
$offwhite: #F4F4F4;
$text-dark: rgba(60,13,5,1);
$text-light: #fdfcf3;

.brand-brown {
  color: $brand-brown;
}
.bg-brand-brown {
  background-color: $brand-brown;
}

.brand-cream {
  color: $brand-cream;
}
.bg-brand-cream {
  background-color: $brand-cream;
}

.brand-red {
  color: $brand-red;
}
.bg-brand-red {
  background-color: $brand-red;
}

.offwhite {
  background-color: $offwhite;
}

.text-dark {
  color: $text-dark;
}

.text-light {
  color: $text-light;
}