---
layout: default
class: home
carousel:
  logo_path: uploads/logo-new.png
  headline: At Aretsky's Patroon, the charm of old New York meets 21st century style.
  subheadline:
slides:
  - image_path: /uploads/slide-5.png
    headline:
    subheadline:
  - image_path: /uploads/slide-2.png
    headline:
    subheadline:
  - image_path: /uploads/slide-3.png
    headline:
    subheadline:
  - image_path: /uploads/slide-4.png
    headline:
    subheadline:
  - image_path: /uploads/slide-1.png
    headline:
    subheadline:
reservation_background_image: /uploads/bg-book.jpg
events_background_image: /uploads/bg-events.jpg
menus:
  - menu_name: Lunch
    sections:
      - section_name: raw
        items:
          - item_name: CHILLED LITTLENECK CLAMS
            item_price:
            market_price: true
            item_details:
            meat_or_fish: true
          - item_name: SHRIMP COCKTAIL
            item_price: 19
            market_price: false
            item_details:
            meat_or_fish: true
          - item_name: ASSORTED EAST & WEST COAST OYSTERS
            item_price:
            market_price: true
            item_details:
            meat_or_fish: true
      - section_name: toast
        items:
          - item_name: PROSCIUTTO & AVOCADO
            item_price: 17
            market_price: false
            item_details: 'sunflower-cilantro pesto, sourdough'
            meat_or_fish: false
          - item_name: SCOTTISH SALMON
            item_price: 17
            market_price: false
            item_details: >-
              cured scottish salmon, cucumber, horseradish sour cream, black
              bread
            meat_or_fish: true
          - item_name: ROASTED CHANTERELLE
            item_price: 17
            market_price: false
            item_details: 'chanterelle, creme fraiche, sourdough'
            meat_or_fish: false
      - section_name: Appetizers
        items:
          - item_name: JUMBO LUMP CRAB CAKES
            item_price: '19'
            market_price: false
            item_details: lobster tarragon aioli
            meat_or_fish: true
          - item_name: HAND CUT STEAK TARTARE
            item_price: '19'
            market_price: false
            item_details: 'quail egg, crostini, mustard green'
            meat_or_fish: true
          - item_name: BABY LETTUCE & HERB SALAD
            item_price: '15'
            market_price: false
            item_details: 'lemon, extra virgin olive oil, sea salt, manchego'
            meat_or_fish: false
          - item_name: SHAVED BRUSSELS SPROUT SALAD
            item_price: '19'
            market_price: false
            item_details: 'pecorino, truffled pomegranate vinaigrette'
            meat_or_fish: false
          - item_name: KALE & STRAWBERRY
            item_price: '16'
            market_price: false
            item_details: 'radicchio, puffed quinoa, garrotxa cheese'
            meat_or_fish: false
      - section_name: Sandwiches
        items:
          - item_name: MUSHROOM & LENTIL BURGER
            item_price: '24'
            market_price: false
            item_details: 'kale, roasted tomato, crispy shallot, truffled mayonnaise'
            meat_or_fish: false
          - item_name: PRIME DRY AGED BURGER
            item_price: '25'
            market_price: false
            item_details: 'sautéed onion, roasted tomato, hand cut fries'
            meat_or_fish: true
          - item_name: SEARED YELLOWFIN TUNA BURGER
            item_price: '26'
            market_price: false
            item_details: yucca fries
            meat_or_fish: true
          - item_name: LOBSTER BLT
            item_price: '32'
            market_price: false
            item_details: 'avocado, spicy mayonnaise, mango-jicama slaw'
            meat_or_fish: true
          - item_name: STEAK SANDWICH
            item_price: '29'
            market_price: false
            item_details: 'caramelized onion, cheddar, horseradish sauce, hand cut fries'
            meat_or_fish: true
          - item_name: FRIED CHICKEN SANDWICH
            item_price: '25'
            market_price: false
            item_details: 'black pepper aioli, sweet pickles, apple radish slaw'
            meat_or_fish: true
      - section_name: Entree Salads
        items:
          - item_name: SEARED SESAME YELLOWFIN TUNA SALAD
            item_price: '29'
            market_price: false
            item_details: >-
              bibb lettuce, cucumber, radish, carrot-ginger dressing, spicy
              aioli
            meat_or_fish: true
          - item_name: COBB SALAD
            item_price: '27'
            market_price: false
            item_details: >-
              romaine, confit chicken, cherry tomato, deviled egg, bacon, maytag
              blue, avocado, bacon vinaigrette
            meat_or_fish: true
          - item_name: GRILLED CHICKEN PAILLARD
            item_price: '26'
            market_price: false
            item_details: >-
              buffalo mozzarella, melted tomato, arugula, pickled onion,
              sourdough crouton
            meat_or_fish: true
          - item_name: GRILLED SHRIMP SALAD
            item_price: '29'
            market_price: false
            item_details: 'hearts of palm, avocado, haricot vert, watermelon radish'
            meat_or_fish: true
          - item_name: CHICKEN CURRY MEZZE
            item_price: '27'
            market_price: false
            item_details: >-
              grilled flatbread, smoked eggplant, summer squash, baby gem &
              endive
            meat_or_fish: true
          - item_name: CHOPPED VEGETABLE SALAD
            item_price: '22'
            market_price: false
            item_details: >-
              seasonal vegetables, radicchio, romaine, spiced chick peas -
              grilled chicken +10, chilled shrimp +12, grilled salmon +12,
              seared tuna +16, petit filet +16
            meat_or_fish: true
      - section_name: Main
        items:
          - item_name:
            item_price:
            market_price: false
            item_details:
            meat_or_fish: false
      - section_name: Appetizers
        items:
          - item_name: JUMBO LUMP CRAB CAKES
            item_price: 19
            market_price: false
            item_details: lobster tarragon aioli
            meat_or_fish: true
          - item_name: HAND CUT STEAK TARTARE
            item_price: 19
            market_price: false
            item_details: 'quail egg, crostini, mustard green'
            meat_or_fish: true
          - item_name: BABY LETTUCE & HERB SALAD
            item_price: 15
            market_price: false
            item_details: 'lemon, extra virgin olive oil, sea salt, manchego'
            meat_or_fish: false
          - item_name: SHAVED BRUSSELS SPROUT SALAD
            item_price: 19
            market_price: false
            item_details: 'pecorino, truffled pomegranate vinaigrette'
            meat_or_fish: false
          - item_name: KALE & STRAWBERRY
            item_price: 16
            market_price: false
            item_details: 'radicchio, puffed quinoa, garrotxa cheese'
            meat_or_fish: false
      - section_name: Sandwiches
        items:
          - item_name: MUSHROOM & LENTIL BURGER
            item_price: 24
            market_price: false
            item_details: 'kale, roasted tomato, crispy shallot, truffled mayonnaise'
            meat_or_fish: false
          - item_name: PRIME DRY AGED BURGER
            item_price: 25
            market_price: false
            item_details: 'sautéed onion, roasted tomato, hand cut fries'
            meat_or_fish: true
          - item_name: SEARED YELLOWFIN TUNA BURGER
            item_price: 26
            market_price: false
            item_details: yucca fries
            meat_or_fish: true
          - item_name: LOBSTER BLT
            item_price: 32
            market_price: false
            item_details: 'avocado, spicy mayonnaise, mango-jicama slaw'
            meat_or_fish: true
          - item_name: STEAK SANDWICH
            item_price: 29
            market_price: false
            item_details: 'caramelized onion, cheddar, horseradish sauce, hand cut fries'
            meat_or_fish: true
          - item_name: FRIED CHICKEN SANDWICH
            item_price: 25
            market_price: false
            item_details: 'black pepper aioli, sweet pickles, apple radish slaw'
            meat_or_fish: true
      - section_name: Entree Salads
        items:
      - section_name: Main
        items:
  - menu_name: dinner
    sections:
      - section_name: small bites
        items:
          - item_name: fried oysters
            item_price: 11
            market_price: false
            item_details: tartar sauce
            meat_or_fish: true
          - item_name: CHICKEN & FOIE GRAS MEATBALLS
            item_price: 11
            market_price: false
            item_details: tapple calvados chutney
            meat_or_fish: true
          - item_name: TRUFFLED GRILLED CHEESE
            item_price: '10'
            market_price: false
            item_details: 'grayson cheese, harissa tomato jam'
            meat_or_fish: false
          - item_name: UNI ARANCINI
            item_price: '12'
            market_price: false
            item_details: 'citrus rice cake, jalapeno yuzu jelly'
            meat_or_fish: true
          - item_name: LOBSTER NEWBERG
            item_price: '11'
            market_price: false
            item_details: 'puff pastry, creme fraiche, caviar'
            meat_or_fish: true
          - item_name: SMOKED SALMON LETTTUCE WRAP
            item_price: '11'
            market_price: false
            item_details: 'trout roe, creme fraiche, betel leaf, peanuts'
            meat_or_fish: true
      - section_name: raw
        items:
          - item_name: hamachi
            item_price: 19
            market_price: false
            item_details: 'watermelon-habanero granita, fennel & shiso salad'
            meat_or_fish: true
          - item_name: SEARED YELLOWFIN TUNA
            item_price: 19
            market_price: false
            item_details: 'hearts of palm, avocado, ginger-soy'
            meat_or_fish: true
          - item_name: ASSORTED EAST & WEST COAST OYSTERS
            item_price:
            market_price: true
            item_details:
            meat_or_fish: true
          - item_name: LITTLE NECK CLAMS
            item_price:
            market_price: true
            item_details:
            meat_or_fish: true
      - section_name: salad
        items:
          - item_name: CAESAR
            item_price: '18'
            market_price: false
            item_details: prepared tableside
            meat_or_fish: true
          - item_name: HEIRLOOM TOMATO
            item_price: '20'
            market_price: false
            item_details: >-
              stone fruit, gooseberry, pickled onion, blackberry balsamic
              dressing
            meat_or_fish: false
          - item_name: FIG & MIZUNA
            item_price: '19'
            market_price: false
            item_details: 'red endive, iberico ham, valdeon blue, walnut'
            meat_or_fish: false
          - item_name: BABY LETTUCE & HERB
            item_price: '16'
            market_price: false
            item_details: 'manchego, lemon, extra virgin olive oil'
            meat_or_fish: false
      - section_name: appetizer
        items:
          - item_name: LAMB TARTARE
            item_price: '21'
            market_price: false
            item_details: >-
              grilled flat bread, dry-cured olive, cumin oil, black sesame,
              seed, curry leaf
            meat_or_fish: true
          - item_name: FOIE GRAS TORCHON
            item_price: '23'
            market_price: false
            item_details: 'strawberry, ginger, pistachio, brioche french toast'
            meat_or_fish: false
          - item_name: OXTAIL DUMPLING
            item_price: '22'
            market_price: false
            item_details: 'shaved black truffle, mushroom consomme'
            meat_or_fish: true
          - item_name: ROCK SHRIMP TEMPURA
            item_price: '18'
            market_price: false
            item_details: 'spicy aioli, mizuna'
            meat_or_fish: true
          - item_name: GRILLED OCTOPUS
            item_price: '20'
            market_price: false
            item_details: >-
              chickpea, roasted red pepper, smoked paprika yogurt, kalamata
              olive
            meat_or_fish: true
          - item_name: JUMBO LUMP CRAB CAKES
            item_price: '19'
            market_price: false
            item_details: lobster tarragon aioli
            meat_or_fish: true
      - section_name: main
        items:
          - item_name: GRILLED RACK OF AMERICAN LAMB
            item_price: '52'
            market_price: false
            item_details: 'smoked eggplant, goat cheese polenta, grape tomato'
            meat_or_fish: true
          - item_name: PORK CHOP
            item_price: '39'
            market_price: false
            item_details: >-
              black garlic white bean puree, broccoli rabe, pickled peppers,
              cider jus
            meat_or_fish: true
          - item_name: GRILLED 35 DAY DRY AGED SIRLOIN
            item_price: '59'
            market_price: false
            item_details: 'carrot, beet, horseradish'
            meat_or_fish: true
          - item_name: 40 DAY DRY AGED RIBEYE (for two)
            item_price: '157'
            market_price: false
            item_details: >-
              pomme souffle, roasted bone marrow, tomato harissa jam, mushroom
              jus, grilled baby gem, black olive vinaigrette
            meat_or_fish: true
          - item_name: CRISPY ROAST DUCK
            item_price: '47'
            market_price: false
            item_details: 'cashew-apricot wild rice, grilled scallion'
            meat_or_fish: true
          - item_name: ROAST CHICKEN BREAST
            item_price: '36'
            market_price: false
            item_details: 'parmesan crusted thigh, broccolini, vermouth jus'
            meat_or_fish: true
          - item_name: STEAMED BLACK COD
            item_price: '37'
            market_price: false
            item_details: 'brown butter dashi, daikon, enoki'
            meat_or_fish: true
          - item_name: PAN ROASTED HALIBUT
            item_price: '44'
            market_price: false
            item_details: 'chanterelle, corn, saffron-onion, lobster-yuzu butter'
            meat_or_fish: true
          - item_name: DOVER SOLE
            item_price:
            market_price: true
            item_details: butter braised leek & roasted tomato tart
            meat_or_fish: true
      - section_name: table
        items:
          - item_name: CHARRED HARICOTS VERTS
            item_price: '14'
            market_price: false
            item_details: bagna cauda
            meat_or_fish: false
          - item_name: CORN & CHANTERELLE
            item_price: '16'
            market_price: false
            item_details: pancetta
            meat_or_fish: false
          - item_name: ROASTED JAPANESE EGGPLANT
            item_price: '14'
            market_price: false
            item_details: miso-honey
            meat_or_fish: false
          - item_name: WILD MUSHROOM
            item_price: '16'
            market_price: false
            item_details: blue cheese grits
            meat_or_fish: false
          - item_name: BRUSSELS SPROUTS
            item_price: '13'
            market_price: false
            item_details: sweet chili
            meat_or_fish: false
          - item_name: SPINACH & LOBSTER GRATIN
            item_price: '16'
            market_price: false
            item_details: 'leek, tumbleweed cheddar'
            meat_or_fish: false
          - item_name: FINGERLING POTATO
            item_price: '12'
            market_price: false
            item_details: truffle honey
            meat_or_fish: false
          - item_name: VIDALIA ONION RINGS
            item_price: '12'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: POMMES SOUFFLE
            item_price: '15'
            market_price: false
            item_details: 'parmesan, truffle'
            meat_or_fish: false
  - menu_name: bar
    sections:
      - section_name: Snacks
        items:
          - item_name: ASSORTED OLIVES
            item_price: '7'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: HOUSE MADE PICKLES
            item_price: '10'
            market_price: false
            item_details: 'spicy wax bean, anise carrot, curry zucchini'
            meat_or_fish: false
          - item_name: PIGS IN A BLANKET
            item_price: '12'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: EDAMAME
            item_price: '11'
            market_price: false
            item_details: chili sea salt
            meat_or_fish: false
          - item_name: ROASTED SHISITO PEPPERS
            item_price: '12'
            market_price: false
            item_details: lime salt
            meat_or_fish: false
          - item_name: SPICY FRIES
            item_price: '12'
            market_price: false
            item_details: sriracha mayonnaise
            meat_or_fish: false
          - item_name: TRUFFLE-PARMESAN FRIES
            item_price: '14'
            market_price: false
            item_details: black truffle aioli
            meat_or_fish: false
          - item_name: TUNA TARTARE
            item_price: '19'
            market_price: false
            item_details: 'avocado, ginger, rice crisp'
            meat_or_fish: true
      - section_name: Shares
        items:
          - item_name: 14OZ SLICED 35 DAY DRY AGED SIRLOIN
            item_price: '65'
            market_price: false
            item_details: >-
              grilled garlic bread, tamarind steak sauce, horseradish sauce,
              arugula
            meat_or_fish: true
      - section_name: Sliders & Rolls
        items:
          - item_name: PULLED PORK SLIDER
            item_price: 7ea
            market_price: false
            item_details: mango-jicama slaw
            meat_or_fish: true
          - item_name: BEEF SLIDER
            item_price: 8ea
            market_price: false
            item_details: 'cheddar, bread & butter pickles'
            meat_or_fish: true
          - item_name: CRAB CAKE SLIDER
            item_price: 9ea
            market_price: false
            item_details: 'bacon, lobster tarragon aioli'
            meat_or_fish: true
      - section_name: Oyster Bar
        items:
          - item_name: ASSORTED EAST & WEST COAST OYSTERS
            item_price:
            market_price: true
            item_details:
            meat_or_fish: true
          - item_name: LITTLE NECK CLAMS
            item_price:
            market_price: true
            item_details:
            meat_or_fish: true
      - section_name: Cocktails
        items:
          - item_name: 160 E BOULEVARDIER
            item_price: '17'
            market_price: false
            item_details: >-
              Buffalo Trace, Campari, La Quintinye Vermouth Rouge, Limoncello,
              Orange Bitters
            meat_or_fish: false
          - item_name: CANE YOU HANDLE THE GINGER
            item_price: '18'
            market_price: false
            item_details: >-
              Santa Teresa 1796, pineapple juice, ginger syrup, fresh lemon
              juice, Peychaud’s bitters
            meat_or_fish: false
          - item_name: OAXACAN CHAVELA
            item_price: '16'
            market_price: false
            item_details: >-
              Peloton Mezcal, Milagro silver, fresh lime juice, house-made
              tomato mix, Negro Modelo, Shishimi Tagaroshi salted rim
            meat_or_fish: false
          - item_name: THE KING’S PEACH
            item_price: '16'
            market_price: false
            item_details: >-
              George Dickel rye, Domaine de Canton, fresh lemon juice, peach
              puree
            meat_or_fish: false
          - item_name: ROCK ‘N’ RYE
            item_price: '18'
            market_price: false
            item_details: >-
              In-house rock ‘n’ rye, Dewar’s white label, Campari, maraschino
              juice, fresh lemon juice
            meat_or_fish: false
          - item_name: BEYOND THE PINE
            item_price: '19'
            market_price: false
            item_details: >-
              Blue Plum brandy, Nolet’s gin, Douglas Fir, fresh lime juice,
              honey, ginger beer, jalapeno
            meat_or_fish: false
      - section_name: Beers (draught)
        items:
          - item_name: Blue Point Toasted Lager
            item_price: '10'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Shocktop
            item_price: '10'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Southern Tier Pale Ale
            item_price: '10'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Ballast Point Longfin Lager
            item_price: '10'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Catskill Brewery IPA
            item_price: '10'
            market_price: false
            item_details:
            meat_or_fish: false
      - section_name: Beers (bottles)
        items:
          - item_name: Heineken
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Heineken Light
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: 'Magic Hat #9'
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Sam Adams Boston Lager
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Peroni
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Chimay Ale Red Label
            item_price: '12'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Amstel Light
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Laguanitas IPA
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
      - section_name: Champagne & Sparkling
        items:
          - item_name: BILLECART-SALMON
            item_price: '25'
            market_price: false
            item_details: 'Brut Réserve, Mareuil-sur-Ay, France, NV'
            meat_or_fish: false
          - item_name: RUINART
            item_price: '29'
            market_price: false
            item_details: 'Blanc de Blanc, Reims, France, NV'
            meat_or_fish: false
          - item_name: CREMANT D’ALSACE
            item_price: '19'
            market_price: false
            item_details: 'Brut Rosé, Camille Braun, Alsace, France, NV'
            meat_or_fish: false
      - section_name: White
        items:
          - item_name: SAUVIGNON BLANC
            item_price: '15'
            market_price: false
            item_details: 'Tablelands, East Coast, New Zealand, 2015'
            meat_or_fish: false
          - item_name: PINOT GRIS
            item_price: '13'
            market_price: false
            item_details: 'Mercer,Yakima Valley, Washington, 2014'
            meat_or_fish: false
          - item_name: POUILLY-LOCHE
            item_price: '20'
            market_price: false
            item_details: '“Les Barres,” Olivier Giroux, Burgundy, France, 2012'
            meat_or_fish: false
          - item_name: CHARDONNAY
            item_price: '15'
            market_price: false
            item_details: 'Au Bon Climat, Santa Barbara County, California, 2014'
            meat_or_fish: false
          - item_name: RIESLING
            item_price: '14'
            market_price: false
            item_details: '“Tradition,” Emile Beyer, Alsace, France 2013'
            meat_or_fish: false
          - item_name: CROZES HERMITAGE
            item_price: '16'
            market_price: false
            item_details: '“Les Marelles,” Gilles Robin, Rhone Valley, France, 2010'
            meat_or_fish: false
          - item_name: ORVIETO CLASSICO SUPERIORE
            item_price: '15'
            market_price: false
            item_details: '“San Giovanni della Sala”, Antinori, Umbria, Italy, 2014'
            meat_or_fish: false
      - section_name: Red
        items:
          - item_name: CHOREY-LES-BEAUNE
            item_price: '21'
            market_price: false
            item_details: '“Les Bons Ores”, Edmond Cornu, Burgundy, France, 2011'
            meat_or_fish: false
          - item_name: PINOT NOIR
            item_price: '16'
            market_price: false
            item_details: '“Thea’s Selection,” Lemelson, Willamette Valley, Oregon, 2013'
            meat_or_fish: false
          - item_name: SAINT-EMILION GRAND CRU
            item_price: '21'
            market_price: false
            item_details: 'Filia de Grand Mayne, Bordeaux, 2008'
            meat_or_fish: false
          - item_name: MALBEC
            item_price: '15'
            market_price: false
            item_details: '“Felino,” Viña Cobos, Mendoza, Argentina 2014'
            meat_or_fish: false
          - item_name: RIOJA
            item_price: '18'
            market_price: false
            item_details: 'Reserva, Finca La Emperatriz Rioja, Spain, 2010'
            meat_or_fish: false
          - item_name: SABLET-COTES DU RHONE
            item_price: '14'
            market_price: false
            item_details: 'Domaine de Piaugier, Rhone Valley, France, 2014'
            meat_or_fish: false
          - item_name: CARMIGNANO
            item_price: '20'
            market_price: false
            item_details: '“Villa di Capezzana,” Tenuta di Capezzana, Tuscany, Italy, 2010'
            meat_or_fish: false
  - menu_name: rooftop
    sections:
      - section_name: Snacks
        items:
          - item_name: Edamame
            item_price: '11'
            market_price: false
            item_details: chili sea salt
            meat_or_fish: false
          - item_name: roasted shisito peppers
            item_price: '12'
            market_price: false
            item_details: lime salt
            meat_or_fish: false
          - item_name: spicy fries
            item_price: '12'
            market_price: false
            item_details: sriracha mayonnaise
            meat_or_fish: false
          - item_name: truffle-Parmesan fries
            item_price: '14'
            market_price: false
            item_details: black truffle aioli
            meat_or_fish: false
          - item_name: tuna tartare
            item_price: '19'
            market_price: false
            item_details: 'avocado, ginger, rice crisp'
            meat_or_fish: false
          - item_name: SOFT PRETZELS
            item_price: '12'
            market_price: false
            item_details: 'pimento beer cheese, mustard'
            meat_or_fish: false
      - section_name: Share
        items:
          - item_name: FRIED OYSTERS (3 PC)
            item_price: '11'
            market_price: false
            item_details:
            meat_or_fish: true
          - item_name: PIGS IN A BLANKE
            item_price: '12'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: SMOKED SALMON  LETTUCE WRAPS (3 PC)
            item_price: '12'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: 14oz Sliced 35 day dry aged sirloin
            item_price: '65'
            market_price: false
            item_details: >-
              grilled garlic bread, tamarind steak sauce, horseradish sauce,
              arugula
            meat_or_fish: false
      - section_name: Sliders & Rolls
        items:
          - item_name: pulled pork slider
            item_price: 7ea
            market_price: false
            item_details: mango-jicama slaw
            meat_or_fish: true
          - item_name: beef slider
            item_price: 8ea
            market_price: false
            item_details: 'cheddar, bread & butter pickle'
            meat_or_fish: true
          - item_name: crab cake slider
            item_price: 9ea
            market_price: false
            item_details: 'bacon, lobster tarragon aioli'
            meat_or_fish: true
      - section_name: Sweets
        items:
          - item_name: BEIGNETS
            item_price: '13'
            market_price: false
            item_details:
            meat_or_fish: false
      - section_name: Beers (bottled)
        items:
          - item_name: Amstel light
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Bud light
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Chimay Red
            item_price: '12'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Corona
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Heineken
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Heineken light
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Lagunitas I
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: 'Magic Hat #9'
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Peroni
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Sam Adams Boston Lager
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Shocktop
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Stella
            item_price: '9'
            market_price: false
            item_details:
            meat_or_fish: false
      - section_name: Champagne & Sparkling
        items:
          - item_name: Billecart-Salmon
            item_price: 25/125
            market_price: false
            item_details: 'Brut Réserve, Mareuil-sur-Ay, NV'
            meat_or_fish: false
          - item_name: cremant d’al sace
            item_price: 18/68
            market_price: false
            item_details: 'Brut Rosé, Camille Braun, Alsace, France, NV'
            meat_or_fish: false
          - item_name: cava brut nature
            item_price: 18/68
            market_price: false
            item_details: 'Cuvee Anne-Marie, Castell d’Age, Catalonia, NV'
            meat_or_fish: false
      - section_name: Rosé
        items:
          - item_name: bandol
            item_price: 14/58
            market_price: false
            item_details: 'Domaine le Galantin, Provence, France, 2015'
            meat_or_fish: false
      - section_name: White
        items:
          - item_name: Sauvignon Blanc
            item_price: 15/58
            market_price: false
            item_details: 'Tablelands, East Coast, New Zealand, 2016'
            meat_or_fish: false
          - item_name: Pinot Gri gio
            item_price: 13/48
            market_price: false
            item_details: 'Tiefenbrunner, Vigneti delle Dolomiti, Italy, 2015'
            meat_or_fish: false
          - item_name: Chardonnay
            item_price: 15/60
            market_price: false
            item_details: 'Au Bon Climat, Santa Barbara, California, 2015'
            meat_or_fish: false
          - item_name: alvarinho trajadura
            item_price: 14/58
            market_price: false
            item_details: 'Regueiro, Minho, Portugal, 2015'
            meat_or_fish: false
          - item_name: Semillon blend
            item_price: 15/58
            market_price: false
            item_details: '“The Whip,” Murietta’s Well, Wente, Livermore Valley, CA 2014'
            meat_or_fish: false
      - section_name: Red
        items:
          - item_name:
            item_price:
            market_price: false
            item_details:
            meat_or_fish: false
      - section_name: Cigars
        items:
          - item_name: Sterling Marevas
            item_price: '20'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Nat Sherman Host Hobart
            item_price: '14'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Ashton Magnum
            item_price: '20'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: 'Ashton ESG #21'
            item_price: '31'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Arturo Fuente Don Carlos
            item_price: '19'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Epoca Admiral
            item_price: '17'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Padron 80th Maduro
            item_price: '50'
            market_price: false
            item_details:
            meat_or_fish: false
          - item_name: Don Carlos Aniversario
            item_price: '62'
            market_price: false
            item_details:
            meat_or_fish: false
---

  <section id="main-carousel" class="relative">
    <div class="absolute center left-0 right-0 mw8 tc z-2 | callunalight headline">
      <img class="" src="{{page.carousel.logo_path}}">
      <h4 class="mb0 mt5 | brand-cream">{{page.carousel.headline}}</h4>
      <p class="center f3 lh-title mw7-ns | brand-cream">{{page.carousel.subheadline}}</p>
    </div>
    <div class="main-carousel">
      {% for slide in page.slides %}
      <div class="item" style="background: {% if page.carousel.logo_path or page.carousel.headline or page.carousel.subheadline %}linear-gradient(0deg,rgba(60, 13, 5, .5),rgba(60, 13, 5, .5)),{% endif %}url({{ slide.image_path }}); background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover">
      </div>
      {% endfor %}
    </div>
  </section>

  <section id="about" class="bg-brand-cream callunalight text-dark">
    <div class="center pv5 tc | content-wrapper">
        <p class="f4 tracked ttu | agendamedium">about us</p>
        <p class="lh-title">Within four levels of an iconic Manhattan townhouse, a stylish clientele enjoys everything from relaxed lunches to intimate celebrations to festive rooftop cocktails, with one of the culinary world’s finest photography collections as a backdrop.</p>
        <p class="lh-title">Versatile, elegant and timeless, Aretsky’s Patroon features multiple private dining rooms waiting to be transformed by your personal touch, whether you are having an intimate dinner or using the entire townhouse for a private event.</p>
    </div>
  </section>

  <section id="book" style="background: linear-gradient(0deg,rgba(60, 13, 5, .6),rgba(60, 13, 5, .4)),url({{ page.reservation_background_image }}); background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover">
    <div class="center mw5 mw8-ns pv5 tc">
      <div class="mt4 mb5">
        <p class="f4 mb4 tracked ttu | agendamedium brand-cream">book a table</p>
        <div id="opentable-code"></div>
      </div>
    </div>
  </section>

  <section id="menus" class="| bg-brand-cream text-dark">
    <div class="center mw8-ns pv5 | wrapper">
      <p class="f4 tracked tc ttu | agendamedium">browse our menus</p>
      <div data-tabs class="flex items-center justify-center mv4 tracked ttu | agendamedium">
        {% for menu in page.menus %}
        <div class="ph3 pv2 ph1 pointer | bg-brand-brown menu-name text-light">{{ menu.menu_name }}</div>
        {% endfor %}
      </div>
      <div data-panes>
        {% for menu in page.menus %}
          <div class="pa3 | agendalight single-menu">
          {% for section in menu.sections %}
            {% if section.items[0].item_name %}
              <div class=" | menu-section">
                <h5 class="bb bw3 f4 ma0 pb2 tracked ttc | text-dark">{{ section.section_name }}</h5>
                {% for item in section.items %}
                  <div class="item">
                    {% if item.market_price %}
                      <p class="mt2 mb1 dib | agendamedium">mp</p>
                    {% else %}
                      <p class="mt2 mb1 dib | agendamedium">{{ item.item_price }}</p>
                    {% endif %}
                    <p class="mt2 mb1 dib ttu">{{ item.item_name }}{% if item.meat_or_fish %}*{% endif %}</p>
                    <p class="i mt0 mb1 ">{{ item.item_details }}</p>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="agendalight center mt3 tc">* Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of foodborne illness</div>
    </div>
  </section>

  <section id="events" class="pv6 | bg-brand-cream brand-cream callunalight" style="background: linear-gradient(0deg,rgba(60, 13, 5, .6),rgba(60, 13, 5, .6)),url({{ page.events_background_image }}); background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover">
    <div class="center tc | content-wrapper">
        <p class="f4 tracked ttu | agendamedium">events &amp; weddings</p>
        <p class="lh-title">Aretsky’s Patroon is the perfect setting for an unforgettable, undeniably New York event, whether you nestle into one of our intimate rooms for a celebratory dinner or take over our entire townhouse for a wedding or special occasion.</p>
        <p class="lh-title">Our six private rooms – each with a unique theme, and featuring an eclectic collection of 20th century photography – lend themselves to memorable events with an upscale air, and can be as laid-back or as refined as you like.</p>
        <div class="mv4 tracked ttu | agendamedium cta-wrapper">
          <a href="" class="link ph3 mh2 pv3 ph1 pointer | bg-brand-brown cta text-light">One-sheet</a>
          <a href="http://www.youvisit.com/tour/aretskyspatroon?pl=v" target="_blank" class="link ph3 mh2 pv3 ph1 pointer | bg-brand-brown cta text-light">Virtual Tour</a>
          <a data-remodal-target="modal" class="link ph3 mh2 pv3 ph1 pointer | bg-brand-brown cta text-light">Plan your event</a>
        </div>
    </div>
  </section>

  <section id="contact" class="">
    <div class="fl pv5 w-100 | bg-brand-cream text-dark wrapper">
      <div class="center mw8">
        <p class="f4 mb5 tc tracked ttu | agendamedium">Contact</p>
        <div class="fl | column-1">
          <div class="mt0 mb4">
            <p class="address callunalight contact-text">160 East 46th Street<br />New York, NY 10017</p>
          </div>
          <p class="mb0 | callunalight contact-text"><span class="tracked ttu | agendabold heading">phone </span>(212) 883-7373</p>
          <p class="mt0 | callunalight contact-text"><span class="tracked ttu | agendabold heading">fax </span>(212) 883-1118</p>

          <div class="mv4">
            <p class="callunalight contact-text">Aretsky's Patroon is open Monday through Friday for lunch, dinner and rooftop cocktails. On weekends, we are open for private events only.</p>
          </div>

          <div class="fl mb4">
            <p class="mb2 tracked ttu | agendabold heading">Monday &ndash; Friday</p>
            <div class="fl mb0 w-40 | callunalight contact-text">Lunch:</div><div class="fl mb0 w-60 | callunalight contact-text">11:45am – 2:45pm</div>
            <div class="fl mb0 w-40 | callunalight contact-text">Dinner:</div><div class="fl mb0 w-60 | callunalight contact-text">5:30 – 10:00pm</div>
            <div class="fl mb0 w-40 | callunalight contact-text">Bar:</div><div class="fl mb0 w-60 | callunalight contact-text">Noon – 10pm</div>
            <div class="fl mb0 w-40 | callunalight contact-text">Rooftop Lunch:</div><div class="fl mb0 w-60 | callunalight contact-text">11:45am – 2:45pm</div>
            <div class="fl mb0 w-40 | callunalight contact-text">Rooftop Terrace:</div><div class="fl mb0 w-60 | callunalight contact-text">4 – 10pm</div>
          </div>

        </div>

        <div class="fl | column-2">
          <img src="/uploads/map.png">
          <div class="mv4">
            <p class="callunalight contact-text">Accessible by the 4, 5, 6, 7, and S at Grand Central Station. Several parking garages are located nearby, with one across the street.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include modal.html %}

