---
layout: default
class: home
slides:
  - image_path: /uploads/slide-5.png
    headline: 'Where the charm of old New York meets 21st century style.'
    subheadline:
  - image_path: /uploads/slide-2.png
    headline:
    subheadline:
  - image_path: /uploads/slide-3.png
    headline:
    subheadline:
  - image_path: /uploads/slide-4.png
    headline:
    subheadline:
  - image_path: /uploads/slide-1.png
    headline:
    subheadline:
reservation_background_image: /uploads/bg-book.jpg
---

  <section id="main-carousel">
    <div class="main-carousel">
      {% for slide in page.slides %}
      <div class="item" style="background: {% if slide.headline or slide.subheadline %}linear-gradient(0deg,rgba(60, 13, 5, .4),rgba(60, 13, 5, .4)),{% endif %}url({{ slide.image_path }}); background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover">
        <div class="center mw5 mw7-ns tc | callunalight headline">
          <h4 class="f1 lh-title mb1 | brand-cream">{{slide.headline}}</h4>
          <p class="f3 lh-title | brand-cream">{{slide.subheadline}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <section id="about" class="bg-brand-cream callunalight text-dark">
    <div class="center mw5 mw8-ns pv5 tc">
        <p class="f4 tracked ttu | agendamedium">about us</p>
        <p class="f2 lh-title">Within four levels of an iconic Manhattan townhouse, a stylish clientele enjoys everything from relaxed lunches to intimate celebrations to festive rooftop cocktails, with one of the culinary world’s finest photography collections as a backdrop.</p>
        <p class="f2 lh-title">Versatile, elegant and timeless, Aretsky’s Patroon features multiple private dining rooms waiting to be transformed by your personal touch, whether you are having an intimate dinner or using the entire townhouse for a private event.</p>
    </div>
  </section>
  <section id="book" style="background: linear-gradient(0deg,rgba(60, 13, 5, .6),rgba(60, 13, 5, .4)),url({{ page.reservation_background_image }}); background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover"">
    <div class="center mw5 mw8-ns pt5 pb6 tc">
      <p class="f4 mb4 tracked ttu | agendamedium brand-cream">book a table</p>
      <script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=1300&domain=com&type=standard&theme=wide&lang=en&overlay=false&iframe=false'></script>
    </div>
  </section>

